* {
 
  font-family: "Merriweather";
}

.titleText {
  font-size: 70px;
  color: #fff;
  margin-left: 4%;
  font-weight: bold;
  background-color: transparent;
}

.descText {
  font-size: 24px;
  margin-left: 4%;
  color: black;
  background-color: transparent;
}

.buttonStart {
 
  font-size: 25px;
  background: #343a40;
  color: #fff;
  margin-left: 4%;
  border-radius: 4%;
  padding-left:3%;
  padding-right:3%;
  padding-top: 1%;
  padding-bottom: 1%;
  outline: none;
  border: none;
}


.headingRow 
{

background-image: url('./images/backgroundTest.jpg');
padding:10%;
opacity: 5;
z-index:1;
height: 50%;
width: 100%


}
.heroStyles{
  background: transparent;
  font-weight: bold;
}