* {
  font-family: "Merriweather";
}

.titleText {
  font-size: 70px;
  color: #fff;
  margin-left: 4%;
  font-weight: bold;
  background-color: transparent;
}

.descText {
  font-size: 24px;
  margin-left: 4%;
  color: black;
  background-color: transparent;
}

.buttonStart {
  font-size: 25px;
  background: #ca2b69;
  color: white;
  margin-left: 4%;
  border-radius: 2%;
  padding-left: 3%;
  padding-right: 3%;
  outline: none;
  border: none;
}
.buttonStart:hover {
  text-decoration: none;
  color: #fff !important;
}

.headingRow {
  background-image: url("./images/backgroundTest.jpg");
  padding: 10%;
  opacity: 5;
  z-index: 1;
  height: 50%;
  width: 100%;
}
.heroStyles {
  background: transparent;
  font-weight: bold;
}
.cardDiv {
  background-color: #fff;
}
