.buttonHeader {
  color: grey;
  padding: 5px;
  font-size: 10px;
  font-weight: bold;
  background-color: #fff;
}
.buttonValue {
  color: purple;
  padding: 5px;
  font-size: 20px;
  background-color: #fff;
}
.center {
  padding: 0;
  margin: auto;
  display: block;
  text-align: center;
  min-width: 500px;
}
.box {
  padding: 3%;
  border: 1px solid #bfbfbf;
  border-radius: 2.5%;
  background-color: #fff;
  min-width: 150px;
  margin: 3%;
}
.box3 {
  padding: 3%;
  border: 1px solid #bfbfbf;
  border-radius: 2.5%;
  background-color: #fff;
  min-width: 150px;
  margin: auto;
}
.box1 {
  padding: 5% !important;
  border: 1px solid #bfbfbf !important;
  border-radius: 2.5% !important;
  background-color: #fff !important;
  margin-top: 5% !important;
  margin: 1% !important;
  min-width: 200px !important;
}
.box2 {
  text-shadow: #bfbfbf;
}
.heading {
  text-align: center;
  margin-top: 2%;
  color: purple;
  margin-bottom: 2%;
}
.containerRehab {
  background-color: #fff;
}
.column {
  width: fit-content;
  margin: auto;
  padding-right: 5%;
}
.center_default {
  padding: 0;
  margin: auto;
  display: block;
  text-align: center;
  min-width: 500px;
  height: 400px;
}
