



  
  .form-sidebar-nav {
    float: right;
    border-style: solid;
    top:0.25rem;
  }

  .formpage-sidebar-container {
    overflow: unset;
    position: -webkit-sticky;
    
    
    float: left;
    width: 35%;
  }

  .formpage-form-container {
    float: right;
    width: 65%;
  }

  .buttonForUploadImage {
    font-size: 100%;
    background: #ca2b69;
    color: white;
    border-radius: 10%;
    width: 70%;
  }

  .formNavButton {
    width: 100%;
  }

.formNextLinks {
  background-color: gray !important;
  color: white;
  padding: 1em 1.5em;
  text-decoration: none;
  text-transform: uppercase;
  float: right;
}