.req{
    color:red;
}

.header{
    font-weight: bold;
    font-size: 3vh;
}

.formblock {
    padding-top: 25px;
    padding-bottom: 100px;
    min-width: 10%;
}


.center1 {
    padding-top: 50px;
    width: 50%;
    padding: 0;
    margin: auto;
  }
  .center1 h2 {
    text-align: center;
    padding: 0 0 20px 0;
    border-bottom: 1px solid silver;
  }
  .center1 form {
    padding: 0 40px;
    box-sizing: border-box;
    overflow: auto;
  }